@tailwind base;
@layer base {
  html {
    /* This font size means that '1rem' is exactly equal to '10px', which makes setting REM values very simple. */
    font-size: 62.5%;
  }

  * {
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  h1 {
    color: theme("colors.primary");
    font-size: theme("fontSize.xxl");
    font-weight: theme("fontWeight.medium");
    font-family: theme("fontFamily.robotoMono");
    line-height: theme("lineHeight.none");
  }
}

@tailwind components;
@tailwind utilities;
