@tailwind base;
@layer base {
  html {
    /* This font size means that '1rem' is exactly equal to '10px', which makes setting REM values very simple. */
    font-size: 62.5%;
  }

  * {
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  body {
    background-color: theme("colors.background");
    line-height: theme("lineHeight.none");
    color: theme("colors.primary");
    font-size: theme("fontSize.l");
    font-family: theme("fontFamily.roboto");
  }

  h1 {
    font-size: theme("fontSize.xxl");
    font-weight: theme("fontWeight.medium");
    font-family: theme("fontFamily.robotoMono");
    line-height: theme("lineHeight.none");
  }

  h2 {
    font-size: theme("fontSize.xl");
    font-weight: theme("fontWeight.medium");
    font-family: theme("fontFamily.robotoMono");
    line-height: theme("lineHeight.none");
  }

  h3 {
    font-size: theme("fontSize.l");
    font-weight: theme("fontWeight.medium");
    font-family: theme("fontFamily.robotoMono");
    line-height: theme("lineHeight.none");
  }

  p {
    color: theme("colors.lightGray");
    font-size: theme("fontSize.l");
    line-height: theme("lineHeight.normal");
    font-weight: theme("fontWeight.light");
  }
}

@tailwind components;

@tailwind utilities;
@layer utilities {
  @variants responsive {
    .horizontal-tb {
      writing-mode: horizontal-tb;
    }
    .vertical-rl {
      writing-mode: vertical-rl;
    }
    .vertical-lr {
      writing-mode: vertical-lr;
    }
  }
}
